body {
     color:rgba(26, 247, 247, 0.138);
     background-color:rgba(127, 255, 212, 0.071);
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     margin: 20px;;
     padding:40px;
}

h1 {
    color:rgb(2, 2, 22);
    text-align:center;
    font-size:large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom:auto;
}

p {

    color:rgb(51, 31, 187);
    font-size: 14;
    line-height: 1.5em;
    text-align:center;
    
}